/* 变量 */
:root {
  --bg-color: #090A07;
  --text-color-fff: #ffffff;
  --text-color-a7: #a7a7a7;
  --border-color: #393939;
  --navbar-bg:#252525;
  --show-button:#ffffff;
}
[data-theme="dark"] {
  --bg-color: #090A07;
  --text-color-fff: #ffffff;
  --text-color-a7: #a7a7a7;
  --border-color: #393939;
  --navbar-bg:#252525;
  --show-button:#ffffff;
}

/* 通用 */
*{margin: 0;padding: 0;}
a{color:inherit;text-decoration: none;-webkit-tap-highlight-color:transparent;display: block;width: 100%;height: 100%;}/*取消a标签在移动端点击时产生的背景色*/
ul{list-style: none;}
html{font-size: 100%;}
img{border: 0;display: block;margin: 0;padding: 0;}
body{/* background: url(https://img.js.design/assets/img/675906b3d05e64e31759fe52.png#92c201942ea34efdbb36345b10d7d48f); */background-color:#090A07;background-color:var(--bg-color);font-size: 0.875rem;}

/* 仅支持悬停的设备（PC）生效 */
@media (hover: hover) {
	.cover-email:hover,.cover-code:hover{border: 0.125rem solid rgba(255, 255, 255, 0.5);}
	/* 头像 */
	.navbar-person-head:hover{background: linear-gradient(90deg, rgba(84, 232, 207, 1) 0%, rgba(248, 63, 63, 1.0) 100%)}
	.navbar-person-head:hover svg path[fill="#090A07"] {fill: #fff !important; /* 使用!important提升优先级 */transition:all 0.3s ease;}
	/* 3d */
	.main-content-3d-img img:hover{transform: scale(1.1);}  
	.main-content-3d-img img:active{cursor: grabbing; /* 标准属性 */cursor: -moz-grabbing; /* 针对Firefox */cursor: -webkit-grabbing; /* 针对基于WebKit的浏览器，如Chrome和Safari */}  
	.d-spwer-page li:hover{background-color: var(--text-color-fff);}
	/* 画册 */
	.main-content-album-2 img:hover,.main-content-album img:hover,.main-content-album-1 img:hover{transform: scale(1.1);}
	/* 底部 */
	.top-wrap>.wow:hover{background-color: #252525;}
	.thanks-menu>ul>li:nth-child(1):hover svg path[fill="#515151"] {fill: #ff5967 !important; /* 使用!important提升优先级 */transition:all 0.3s ease;}
	.thanks-menu>ul>li:nth-child(2):hover svg path[fill="#515151"] {fill: #00be82 !important; /* 使用!important提升优先级 */transition:all 0.3s ease;}
	.thanks-menu>ul>li:nth-child(3):hover svg path[fill="#515151"] {fill: #298dff !important; /* 使用!important提升优先级 */transition:all 0.3s ease;}
	
}
/* 禁止滚动 */
.no-scroll { overflow: hidden; }

/* 导航 */
.navbar-wrap{width: 100%;height: auto;}
/* 进度条 */
.progressBar{display: none;}
/* 菜单内容 */
.navbar-box{width: 85%;height: auto;margin: 0 auto;display: flex;flex-wrap: nowrap;justify-content: space-between;align-items: center;}
/* 头像 */
.navbar-person-head{width: 1.875rem;height: 1.875rem;border-radius: 100%;background: linear-gradient(90deg, rgba(84, 232, 207, 1) 0%, rgba(101, 166, 248, 1) 100%);display: flex;justify-content: center;align-items: center;cursor: pointer;transition:all 0.3s ease;}
.mobile-person-btn{display: none;}
/* 列表 */
.navbar-list{display: flex;flex-wrap: nowrap;color: var( --text-color-a7);}
.navbar-list>li{margin: 2rem 5rem 2rem 0;transition: all 0.3s ease;cursor: pointer;}
.navbar-list>li:hover{color: #fff;}
.mobile-navbar-title{transition: 0s all ease;opacity: 0;visibility: hidden;width: 0;}
/* 移动端菜单展开按钮 */
.mobile-navbar{display: none;-webkit-tap-highlight-color:transparent;}
/* 简历、扫码*/
.mobile-per-btn{display: none;}
/* 简历下载 */
.PersonDownload-window{display: none;}

/* 封面 */
.cover-wrap{width: 85%;height: auto;margin: 0 auto 8rem auto;color: #fff;position: relative;}
.cover-wrap::before{width: 0.0625rem;height: 20%;background-color: #fff;content: '';position: absolute;right: 2%;transform: rotate(45deg);bottom: 0;}
.cover-wrap::after{width: 0.0625rem;height: 20%;background-color: #fff;content: '';position: absolute;right: 2%;transform: rotate(-45deg);bottom: 0;}
.cover-addr{width: auto;text-align: left;margin: 6rem 0 0rem 0;border: 0.0625rem solid var(--border-color);padding: 0.5rem;font-size: 0.75rem;display: flex;flex-wrap: nowrap;justify-content: space-between;}
.cover-addr p:first-child{font-weight: bold;}
.cover-addr p:last-child{color: #a7a7a7;}
.cover-title{font-weight: bold;text-transform: uppercase;margin: 2rem 0 1rem 0;position: relative;}
 /* 镂空边框 */
.cover-title>p:last-child{-webkit-text-stroke: 1px #fff;text-stroke: 1px #fff;color: transparent;font-size: 5rem;}
.cover-title>p:first-child{font-size: 5rem;}
.cover-title>p:first-child>span:first-child{background: linear-gradient(90deg, #ff6b6b, #4ecdc4);background-clip: text;color: transparent;-webkit-background-clip: text;-webkit-text-fill-color: transparent;animation: gradient-flow 3s ease infinite;background-size: 200% 100%;margin-right: 1rem;}
@keyframes gradient-flow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.cover-title-en{font-size: 0.625rem;color: #515151;text-transform: uppercase;}
.cover-email{width: 13rem;height: 2.8rem;border-radius: 62.5rem;border: 0.125rem solid #fff;display: flex;justify-content: center;align-items: center;transition: all 0.3s ease;}
.cover-email a{display: flex;flex-wrap: nowrap;justify-content: center;align-items: center;}
.cover-icon{width: 1.25rem;height: 20px;display: flex;justify-content: center;align-items: center;margin-right: 0.5rem;}
.cover-code{width: 2.8rem;height: 2.8rem;border-radius: 50%;border: 0.125rem solid #fff;margin: 0 0 0 0.5rem;display: flex;justify-content: center;align-items: center;cursor: pointer;position: relative;transition: all 0.3s ease;}
.cover-code-img img{width: 95%;height: auto;}
.cover-code-img{position: absolute;width: 8rem;height: 8rem;background-color: #fff;bottom: -9rem;right:-5rem;border-radius: 5px;display: flex;justify-content: center;align-items: center;transition: all 0.25s ease;opacity: 0;transform: scale(0.9) translateY(-20px);visibility: hidden;}
.cover-code-img::after{border-bottom: 8px solid #fff;border-left: 8px solid transparent;border-right: 8px solid transparent;position: absolute;content: '';top: -8px;left: 1rem;}
.cover-code:hover .cover-code-img{opacity: 1;transform: scale(1)  translateY(0);visibility: visible;}
.cover-contact{display: flex;flex-wrap: nowrap;align-items: center;margin: 3.5rem 0 2rem 0;}
.mobile-code{display: none;}
.cover-email:active,.cover-code:active{transform: scale(0.9);}


/* 主题内容 */
.main{width:100%;height: auto;}
.main-title{width: 85%;height: auto;margin: 5rem auto 2rem auto;display: flex;flex-wrap: wrap;justify-content: space-between;align-items: center;text-transform: uppercase;}
.main-title>div{width: 100%;text-align: center;}
.main-separate{height: auto;display: flex;flex-wrap: nowrap;width: 100%;justify-content: space-between;border-top: 0.0625rem solid var(--border-color);border-bottom: 0.0625rem solid var(--border-color);font-size: 0.75rem;line-height: 1.5rem;color: var(--text-color-a7);margin: 0 auto 0.5rem auto;}
.main-title-ch{font-size:1.5rem;margin-bottom: 1rem;font-weight: bold;letter-spacing: 0.25rem;color: var(--text-color-fff);}
.main-title-en{position: relative;color: #fff;font-size: 2rem;font-weight: bold;background: linear-gradient(90deg, #ff6b6b, #4ecdc4);background-clip: text;color: transparent;-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.main-title-en::before,.main-title-en::after{position: absolute;height: 0.8rem;content: '';background-color: #474747;}
.main-title-en::before{width: 0.8rem;border-radius: 100%;left: 0;}
.main-title-en::after{width: 3rem;left: 2rem;border-radius: 1rem;}
/* 描述 */
.main-describe{width: 85%;margin:0.4rem auto 0.5rem auto;}

/* 内容 */
.main-content{width: 85%;height: auto;margin: 0 auto;display: flex;flex-wrap: wrap;justify-content: space-between;}
.main-content-personal div{width: 10%;height: auto;margin-bottom: 0rem;}
.main-content div img{width: 100%;height: auto;transition: all 0.3s ease;}
/* 展会视觉 */
.mobile-cont{display: none;}
/* .main-content-exhibition div{} */
/* 画册排版 */
.main-content-album div{width: 33%;height: auto;margin-bottom: 0.6rem;overflow: hidden;}
.main-content-album-1 div{width:49.75%;height: auto;margin-bottom: 0.6rem;overflow: hidden;}
.main-content-album-2 div{width: 33%;height: auto;margin-bottom: 0.6rem;overflow: hidden;}
/* h5 */
.main-content-h5 div{width: 16.666%;height: auto;margin-bottom: 0.6rem;}
/* 3d */
.main-content-3d>div{width: 32%;height: auto;margin-bottom: 1.5rem;}
.main-content-3d img{  -webkit-user-drag: none;  /* Chrome/Safari/Edge */user-drag: none;/* 标准属性 */}
.main-content-3d-title p:first-child{color: var(--text-color-fff);}
.main-content-3d-title p:last-child{font-size: 0.75rem;color: var(--text-color-a7);}
.main-content-3d-img{margin-bottom: 0.5rem;position: relative;overflow: hidden;cursor: grab; /* 标准属性 */cursor: -moz-grab; /* 针对Firefox */cursor: -webkit-grab; /* 针对基于WebKit的浏览器，如Chrome和Safari */}
/* 轮播 */
.main-content-3d-3d-spwer{display: flex;flex-wrap: nowrap;position: relative;left: 0;width:auto;transition: all 0.3s linear;}
.main-content-3d-3d-spwer div{flex-shrink: 0;width: 100%;height: auto;}
/* 翻页 */
.d-spwer-page{position: absolute;bottom: 1rem;display: flex;flex-wrap: nowrap;width: 100%;height:auto;justify-content: center;left: 0;}
.d-spwer-page li{margin: 0 0.5rem;text-align: center;background-color: #090A07;width: 1.5rem;height: 0.5rem;border-radius: 1rem;cursor: pointer;transition: all 0.3s linear;}
/* 颜色 */
.d-spwer-page li.focus{background-color: #fff;}
.d-spwer-page li:active{background-color: rgba(255, 255, 255, 0.5);}

/* 感谢 */
.thanks-wrap{width: 100%;margin: 10rem auto 0 auto;background-color: #141414;padding: 8rem 0;border-bottom: 0.0625rem solid var(--border-color);}
.thanks-wrap-title{border: 0.0625rem solid #fff;width: fit-content;padding: 0 0.8rem;line-height: 1.5rem;font-size: 0.75rem;margin: 0 auto 2rem auto;color: var(--text-color-fff);}
.thanks-title{font-size: 4rem;text-transform: uppercase;text-align: center;padding-bottom: 2rem;position: relative;background: linear-gradient(90deg, #ff6b6b, #4ecdc4);background-clip: text;color: transparent;-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.thanks-title::before{position: absolute;width: 10%;height: 0.1875rem;background-color: #fff;content: '';bottom: 0;left: calc((100% - 10%) / 2);border-radius: 1rem;}
.thanks-menu{display: flex;flex-wrap: nowrap;justify-content: center;align-items: center;margin-top: 2.5rem;color: var(--text-color-fff);}
.thanks-menu ul{display: flex;flex-wrap: nowrap;justify-content: center;}
.thanks-menu ul li{margin: 0 2rem;display: flex;justify-content: center;flex-wrap: wrap;width: 20%;align-content: space-between;}
.thanks-menu ul li div{display: flex;justify-content: center;align-items: center;width: 100%;}

/* 返回顶部 */
.top-wrap{width: 100%;height: auto;background-color: #141414;padding: 5rem 0;}
.top-wrap>.wow:active{transform: scale(0.9);}
.top-wrap>div:first-child{line-height: 3.125rem;width: 35%;height: 3.125rem;border-radius: 0.5rem;background-color: var(--navbar-bg);color: #fff;margin: 0 auto;display: flex;justify-content: center;align-items: center;cursor: pointer;transition: all 0.2s ease;}
/* .top-wrap>div:last-child{width: auto;height: auto;border-radius: 100%;border: 0 solid #fff; justify-content: center;align-items: center;margin: 0 0 0 0.3rem;overflow: hidden;display: flex;} */

/* 简历 */
.biographical-notes-wrap{width: 70%;height: 70vh;margin-left: 13.5%;position: fixed;bottom:12vh;border-radius: 0.625rem;padding: 2rem 1.5rem;display: none;/* background: #fff url("../img/bio-bg.png") repeat left top / auto; */flex-wrap: wrap;align-content: flex-start;background: linear-gradient(180deg, rgba(230, 239, 254, 1) 0%, rgba(255, 249, 253, 1) 100%);z-index: 9999;}
/* 返回按钮 */
.bio-back{display: none;}
.hello{width: 100%;height: auto;}
.hello>div:first-child{display: flex;align-items: flex-end;flex-wrap: nowrap;width:fit-content;justify-content: space-between;}
.hello>div:first-child>div:first-child{font-size: 1.75rem;font-weight: bold;}
.hello>div:first-child>div:last-child{font-weight: bold;margin: 0 0 0.2rem 0.5rem;}
.bio-code{background-color: #252525;width:auto;height: 2.5rem;color: #fff;text-transform: uppercase;font-size: 1.75rem;font-weight: bold;padding-left: 0.5rem;border-radius: 0.3125rem;margin-top: 0.5rem;position: relative;}
.bio-code-img{position: absolute;right:1rem;top:-1.5rem;background-color: #fff;width: 5rem;height: 5rem;border: 0.3rem solid #252525;}
.bio-code-img img{width: 100%;height: auto;}
.bio-code-img::before{position: absolute;content: '添加微信';bottom: -1.6rem;width: 100%;text-align: center;font-size: 0.875rem;color: #252525;font-weight: normal;}
.bio-cont-wrap{width: 100%;height:auto;margin-top: 3.5rem;display: flex;flex-wrap: nowrap;justify-content: space-between;}
.bio-cont-wrap>div{height: auto;}
.bio-cont-wrap-left{width: 22%;}
.bio-cont-wrap-right{width: 68%;}
.bio-cont-head{width: 6rem;height: auto;background-color: #fff;margin-top: 0.5rem;overflow: hidden;border: #fff solid 0.3125rem;display: none;}
.bio-cont-head img{width: 100%;height: auto;}
/* 介绍 */
.bio-cont-about{width: 100%;height: auto;display: flex;flex-wrap: nowrap;justify-content: space-between;}
.bio-cont-about-text{font-size: 0.75rem;margin-top: 1rem;color: #252525;}
.bio-cont-about-line{width: 4rem;height:0.3125rem;background-color: #a7a7a7;margin:0.8rem 0 0 0rem;border-radius: 1rem;}
/* 技能 */
.bio-skill-wrap{width: 100%;height: auto;display: flex;justify-content: space-between;flex-wrap: nowrap;margin: 2rem 0 0 0;}
.bio-skill-cont{display: flex;flex-wrap: nowrap;align-items: center;color: #252525;}
.bio-skill-cont>div:first-child{width: 8rem;}
.bio-skill-cont>div:last-child{height: 0.5rem;margin-left: 0.5rem;}
.bio-skill-wrap>div:first-child>p:first-child{font-weight: bold;}
.bio-skill-ps{width: 10rem;background-color: #31a7fe;}
.bio-skill-ai{width: 8rem;background-color: #ff9a00;}
.bio-skill-c4d{width: 9rem;background-color: #7137d0;}
.bio-skill-web{width: 10rem;background-color: #37d08a;}
/* 经历 */
.bio-skill-experience{margin-top: 4rem;display: flex;flex-wrap: nowrap;justify-content: space-between;}
.bio-skill-experience>div:first-child{width: 8.5rem;}
.bio-skill-experience>div:first-child>p:first-child{font-weight: bold;}
.bio-skill-experience-cont-tab{display: flex;flex-wrap: nowrap;justify-content: space-between;width: 100%;margin-bottom: 2rem;color: #252525;}
.bio-skill-experience-cont-text{width: 65%;}
.bio-skill-experience-cont-text>p:last-child{margin-top: 1rem;line-height: 1.25rem;}
.bio-skill-experience-cont{display: flex;flex-wrap: wrap;width: 100%;}
/* 底下 */
.bio-footer{width: 100%;height: auto;background-color: #252525;display: flex;line-height: 3rem;text-align: center;color:#fff;border-radius: 0.3125rem;}
.bio-footer-tips{text-align: center;width: 100%;text-align: center;color: #c1c1c1;font-size: 0.75rem;margin-top: 0.5rem;}
/* 联系 */
.bio-contact{width: 100%;height: auto;margin: 2rem 0 0 0;}
.bio-contact-menu{width: 93%;flex-wrap: nowrap;align-items: center;display: flex;background-color: #fff;padding: 3.5%;border-radius: 0.3125rem;margin-bottom: 0.5rem;}
.bio-contact-menu-icon{width:1.5rem;height: 1.5rem;background-color: #000;border-radius: 100%;margin-right: 0.25rem;display: flex;justify-content: center;align-items: center;}
.bio-contact-title{margin-bottom: 1rem;}
.bio-contact-title>P:first-child{font-weight: bold;}
.bio-contact-title>P:last-child{color: #252525;}

/* 侧边栏 */
.side-wrap{width: auto;height: 25vh;position: fixed;bottom: 40vh;right:0rem;align-items: center;opacity: 0;}
.side-wrap div{width: 60%;display: flex;justify-content: center;cursor: pointer;margin: 0 auto;transition: all 0.25s ease;}
.side-wrap ul{line-height: 1.6rem;font-size: 0.75rem;text-align: center;color: #8b8b8b;}
.side-wrap ul li{padding: 0 0.5rem;transition: all 0.3s ease;margin: 0.5rem 0;border-radius: 0.3125rem;cursor: pointer;-webkit-user-select: none; /* Chrome, Safari, Opera */-moz-user-select: none;    /* Firefox */-ms-user-select: none;     /* IE 10+ */user-select: none;         /* Standard syntax */}
.side-wrap ul li:hover{color: #fff;}
.side-next{transform: rotate(180deg);}
.side-focus{color: #fff;background-color: #3b3b3b;}
.side-wrap ul li:active{transform: scale(0.7);}

/* 遮罩 */
.mask{width: 100vw;height: 100vh;background: rgba(0, 0, 0, 0.5);position: fixed;top: 0;left: 0;transform: translateZ(0); /* 启用GPU加速优化性能[3](@ref) */ backdrop-filter: blur(0);display: none;z-index: 999;}

/* 超小屏幕（手机，小于 768px） */
@media (max-width: 767px) {
	/* 针对所有元素 */
	* {
	  -webkit-tap-highlight-color: transparent;
	}
	/* 导航 */
	.navbar-wrap{background-color: var(--bg-color);border-bottom: 0.0625rem solid var(--border-color);position: fixed;top: 0;left: 0;z-index: 99;}
	/* 进度条 */
	.progressBar{display: block;width: 0%;position: absolute;bottom: -0.1rem;left: 0;background-color: #ff8a00;height: 0.125rem;transition: all 0.1s linear;}
	/* 菜单内容 */
	.navbar-box{flex-wrap: wrap;width: 90%;}
	/* 列表 */
	.navbar-list{flex-wrap: wrap;width: 100%;order: 1;display: none;}
	.navbar-list-focus{border: 0.0625rem solid var(--border-color);color: #fff;}
	.navbar-list>li{width: 96%;margin: 0;padding: 0.8rem 0 0.8rem 4%;background-color: var(--navbar-bg);border-radius: 0.625rem;margin-bottom: 0.5rem;}
	
	.mobile-navbar-title{font-size: 1.5rem;color: #fff;font-weight: bold;margin-bottom: 1rem;display: ;opacity: 1;visibility: visible;width: fit-content;transition: 0.5s all ease;}
	/* 移动端菜单展开按钮 */
	.mobile-navbar{width: 100%;height: 3.5rem;cursor: pointer;display: flex;align-items: center;justify-content: space-between;}
	/* 简历、扫码*/
	.mobile-nav-right{display: flex;flex-wrap: wrap;align-items: center;}
	.mobile-per-btn{width: 0.8rem;height: 0.8rem;margin-right: 1rem;border: 0.125rem solid var(--show-button);border-radius: 0.1rem;transition: all 0.3s ease;position: relative;display: block;}
	.mobile-per-btn div{height: 1.5px;background-color: var(--show-button);position: absolute;}
	.mobile-per-btn-1{width: 0.6rem;left: 0;top: 0.125rem;}
	.mobile-per-btn-2{width: 0.5rem;left: 0;top: 0.3125rem;}
	.mobile-per-btn-3{width: 0.4rem;left: 0;top: 0.5rem;}
	
	.home-title{color: #fff;font-weight: bold;display: flex;flex-wrap: nowrap;align-items: center;position: relative;}
	.home-title svg{margin: 0.1rem 0 0 -0.1rem;}
	.home-title::before{width: 40%;height: 0.1rem;left: 30%;bottom: -0.5rem;background-color: #ff8a00;content: '';position: absolute;border-radius: 1rem;}
	.show-button{width: 1.2rem;height: 0.9rem;position: relative;}
	.show-button>li{width: 1.2rem;height: 0.12rem;background-color:var(--show-button);position: absolute;transition: all 0.3s ease;}
	.show-button>li:first-child{top: 0;}
	.show-button>li:nth-child(2){top: 0.39rem;}
	.show-button>li:last-child{bottom: 0;}
	/* 头像 */
	.navbar-person{width: 96%;display: flex;flex-direction: row;display: none;border: 0.0625rem solid #5e5e5e;border-radius: 0.625rem;height: 4rem;margin: 1rem 0 1rem 0;align-items: center;padding:0 2%;background-color: rgba(255, 255, 255, 0.1)}
	.mobile-person-btn{display: block;color:#fff;display: flex;justify-content: space-between;align-items: center;width: 90%;}
	.mobile-person-menu{display: flex;flex-wrap: nowrap;align-items: center;font-size: 0.75rem;}
	.mobile-person-menu div{display: flex;align-items: center;margin-left: 0.8rem;}
	.mobile-person-menu svg{margin-left: 0.2rem;}
	.mobile-person-name p:last-child{font-size: 0.75rem;color: #a7a7a7;}
	.mobile-person-name{line-height: 1rem;margin-left: 0.5rem;}
	
	/* 主题 */
	.main-title{flex-wrap: wrap;justify-content: center;width: 90%;margin-bottom: 0;}
	.main-describe{width: 90%;}
	.main-title-en::before,.main-title-en::after{display: none;}
	/* 内容 */
	.main-content{width: 90%;}
	.main-content-personal div{width: 25%;height: auto;margin-bottom:0rem;}
	/* 展会视觉 */
	.pc-cont{display: none;}
	.mobile-cont{display: block;}
	/* 画册排版 */
	.main-content-album div{width: 49.5%;height: auto;margin-bottom: 0.2rem;}
	.main-content-album div:last-child{width: 100%;}
	.main-content-album-1 div{margin-bottom: 0.2rem;width: 49.5%;}
	.main-content-album-2 div{width: 49.5%;height: auto;margin-bottom: 0.2rem;}
	/* h5 */
	.main-content-h5 div{width: 33%;height: auto;margin-bottom: 0.15rem;}
	/* .label{width: 90%;margin: 0 auto 0.5rem auto;font-size: 0.75rem;} */
	/* 3d */
	.main-content-3d>div{width: 49%;height: auto;margin-bottom: 0.25rem;}
	/* 翻页 */
	.d-spwer-page{bottom: 0.6rem;}
	.d-spwer-page li{margin: 0 0.25rem;width: 1.25rem;height: 0.2rem;}
	
	/* 感谢 */
	.thanks-wrap{margin: 5rem auto 0 auto;width: 100%;padding: 3rem 0;}
	.thanks-title{font-size: 3rem;}
	.thanks-menu{display: flex;flex-wrap: wrap;}
	.thanks-menu ul{justify-content: center;width: 90%;margin: 0.5rem auto 0 auto;flex-wrap: wrap;}
	.thanks-menu ul li{margin: 0;width: 94%;background-color: #252525;margin-bottom: 0.5rem;flex-wrap: nowrap;justify-content: space-between;padding: 0 3%;border-radius: 0.5rem;}
	.thanks-menu ul li div{width: auto;color: #666666;}
	.thanks-menu-email{transform: scale(0.6) translate(-1rem);}
	.thanks-menu-wechat{transform: scale(0.6) translate(-1.25rem);}
	.thanks-menu-iphone{transform: scale(0.6) translate(-0.75rem);}
	
	/* 返回顶部 */
	.top-wrap>div:first-child{width: 50%;height: 3.125rem;}
	
	/* 封面 */
	.cover-wrap{margin: 7rem auto 5rem auto;width: 90%;}
	.cover-wrap::before{height: 20%;right: 10%;bottom: 11rem;}
	.cover-wrap::after{height: 20%;right: 10%;bottom: 11rem;}
	.cover-title{margin: 1rem 0 1rem 0;}
	.cover-contact{justify-content: center;}
	.cover-code-img{display: none;}
	.cover-title>p:first-child{font-size: 4rem;}
	.cover-title>p:first-child>span{margin-right: 0;display: flex;flex-wrap: wrap;}
	/* 二维码 */
	.mobile-code{width: 100%;height: 40vh;background-color: #fff;position: fixed;display: flex;bottom: 0rem;left: 0;justify-content: center;align-items: center;padding:0;border-radius: 1.25rem 1.25rem 0 0;flex-wrap: wrap;display: none;z-index: 9999;align-content: center;}
	.mobile-code div{display: flex;justify-content: center;flex-wrap: wrap;}
	.mobile-code div:last-child{margin-top: 1rem;}
	.mobile-code img{width: 40%;height: auto;}
	
	/* 简历 */
	.biographical-notes-wrap{width: 100%;height: 94vh;margin-left: 0;top:0vh;padding: 3vh 0% 3vh 0%;overflow: scroll;border-radius: 0 0 0 0;overscroll-behavior: contain;}
	/* 简历下载 */
	.PersonDownload-window{width: 100%;height: 40vh;background-color: #fff;position: fixed;display: flex;bottom: 0rem;left: 0;justify-content: center;align-items: center;padding:0;border-radius: 1.25rem 1.25rem 0 0;flex-wrap: wrap;display: none;z-index: 9999;align-content: center;}
	.PersonDownload-window div{width: 100%;display: flex;justify-content: center;}
	.PersonDownload-window div:last-child{margin-top: 1rem;}
	
	/* 返回 */
	.bio-back{width: 90%;height: auto;border-bottom: 0rem solid #cfcfcf;color: #252525;position: sticky;top:-2rem;padding: 1.6rem 5% 1rem 5%;background-color: #e7f0fe;z-index: 99;font-size: 1.125rem;font-weight: bold;display: block;}
	.bio-back div{display: flex;align-items: center;flex-wrap: nowrap;border-radius: 0.3125rem;width: -moz-fit-content;width: -webkit-fit-content;width: fit-content;}
	.bio-back div svg{margin:0 0.25rem 0 0rem;}
	.bio-back span{opacity: 0;}
	
	.hello{padding: 0 5%;width: 90%;}
	
	.bio-code-img{display: none;}
	.bio-cont-wrap{flex-wrap: wrap;margin-top: 2rem;padding: 0 5%;width: 90%;}
	.bio-cont-wrap-left{width: 100%;}
	.bio-cont-wrap-right{width: 100%;}
	.bio-cont-about-text{background-color: #fff;padding: 3.5%;border-radius: 0.3125rem;line-height: 1.35rem;}
	.bio-skill-wrap{flex-wrap: wrap;}
	.bio-skill-wrap>div:first-child{margin: 0 0 1rem 0;display: flex;flex-wrap: nowrap;}
	.bio-skill-wrap>div:first-child>p:first-child{margin-right: 0.5rem;}
	.bio-skill-wrap>div:first-child>p:last-child{color: #b9b9b9;}
	.bio-skill-wrap>div{width: 100%;}
	.bio-skill-experience{flex-wrap: wrap;margin-top: 2rem;width: 100%;padding-bottom: 0rem;}
	.bio-skill-experience>div:first-child{margin-bottom: 1rem;width: 100%;}
	.bio-skill-experience-cont-tab{flex-wrap: wrap;width: 93%;margin-bottom: 0.5rem;background-color: #fff;padding: 4% 3.5%;border-radius: 0.3125rem;}
	.bio-skill-experience-cont-text{margin: 0.5rem 0 0 0;width: 100%;}
	.bio-skill-experience-cont-text>p:first-child{color: #848484;font-size: 0.75rem;}
	.bio-skill-experience-cont-text>p:last-child{line-height: 1.25rem;margin:1rem 0 0 0;}
	.bio-cont-head{width: 4rem;height: 4rem;margin-top: 0;border-radius: 0.3125rem;display: none;}
	.bio-cont-about-line{width: 2rem;height:0.2rem;background-color: #a7a7a7;margin:1rem 0 0 0;display: none;}
	.bio-skill-experience>div:first-child{display: flex;flex-wrap: nowrap;}
	.bio-skill-experience>div:first-child>p:first-child{margin-right: 0.5rem;}
	.bio-skill-experience>div:first-child>p:last-child{color: #b9b9b9;}
	.bio-skill-cont{padding: 3.5%;background-color: #fff;width: 93%;margin-bottom: 0.5rem;border-radius: 0.3125rem;}
	/* 技能 */
/* 	.bio-skill-ps{width: 13rem;}
	.bio-skill-ai{width: 11rem;}
	.bio-skill-c4d{width: 12rem;}
	.bio-skill-web{width: 13rem;} */
	/* 时间 */
	.bio-skill-experience-cont-time{display: flex;flex-wrap: nowrap;font-size: 0.75rem;border-bottom: 0.0625rem solid #f1f1f1;width: 100%;padding: 0 0 0.6rem 0;}
	.bio-skill-experience-cont-time p{margin-right: 0.5rem;}
/* 	.bio-skill-experience-cont-time{position: relative;}
	.bio-skill-experience-cont-time::before{position: absolute;width: 0.5rem;height: 0.5rem;background-color: #000;content: '';top: 0.35rem;left: -0.92rem;} */
	/* 联系 */
	.bio-contact-title{display: flex;flex-wrap: nowrap;}
	.bio-contact-title>P:first-child{margin-right: 0.5rem;}
	.bio-contact-title>P:last-child{color: #b9b9b9;}
	
	/* 底下 */
	.bio-footer{width:90%;margin: auto;}
	.bio-footer-tips{margin-bottom: 6rem;}
	
	/* 侧边栏 */
	.side-wrap{bottom: 3vh;display: flex;justify-content: center;flex-wrap: wrap;align-content: center;}
	.side-wrap ul{display: none;}
	.side-wrap div{background-color: rgba(0, 0, 0, 0.5);border: 0.0625rem solid #fff;margin: 0.5rem 0;border-radius: 0.5rem;width: 50%;}
	.side-up:active{transform: scale(0.8);background-color: rgba(0, 0, 0, 0.8)}
	.side-next:active{transform: scale(0.8) rotate(180deg);background-color: rgba(0, 0, 0, 0.8);}
}

/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) and (max-width:992px) {
	/* 针对所有元素 */
	* {
	  -webkit-tap-highlight-color: transparent;
	}
	/* 导航 */
	.navbar-wrap{background-color: var(--bg-color);border-bottom: 0.0625rem solid var(--border-color);position: fixed;top: 0;left: 0;z-index: 99;}
	/* 进度条 */
	.progressBar{display: block;width: 0%;position: absolute;bottom: -0.1rem;left: 0;background-color: #ff8a00;height: 0.125rem;transition: all 0.1s linear;}
	/* 菜单内容 */
	.navbar-box{flex-wrap: wrap;width: 90%;}
	/* 列表 */
	.navbar-list{flex-wrap: wrap;width: 100%;order: 1;display: none;}
	.navbar-list-focus{border: 0.0625rem solid var(--border-color);color: #fff;}
	.navbar-list>li{width: 96%;margin: 0;padding: 0.8rem 2% 0.8rem 2%;background-color: var(--navbar-bg);border-radius: 0.625rem;margin-bottom: 0.5rem;}
	
	.mobile-navbar-title{font-size: 1.5rem;color: #fff;font-weight: bold;margin-bottom: 1rem;display: ;opacity: 1;visibility: visible;width: fit-content;transition: 0.5s all ease;}
	/* 移动端菜单展开按钮 */
	.mobile-navbar{width: 100%;height: 3.5rem;cursor: pointer;display: flex;align-items: center;justify-content: space-between;}
	/* 简历、扫码*/
	.mobile-nav-right{display: flex;flex-wrap: wrap;align-items: center;}
	.mobile-per-btn{width: 0.8rem;height: 0.8rem;margin-right: 1rem;border: 0.125rem solid var(--show-button);border-radius: 0.1rem;transition: all 0.3s ease;position: relative;display: block;}
	.mobile-per-btn div{height: 1.5px;background-color: var(--show-button);position: absolute;}
	.mobile-per-btn-1{width: 0.6rem;left: 0;top: 0.125rem;}
	.mobile-per-btn-2{width: 0.5rem;left: 0;top: 0.3125rem;}
	.mobile-per-btn-3{width: 0.4rem;left: 0;top: 0.5rem;}
	
	.home-title{color: #fff;font-weight: bold;display: flex;flex-wrap: nowrap;align-items: center;position: relative;}
	.home-title svg{margin: 0.1rem 0 0 -0.1rem;}
	.home-title::before{width: 40%;height: 0.1rem;left: 30%;bottom: -0.5rem;background-color: #ff8a00;content: '';position: absolute;border-radius: 1rem;}
	.show-button{width: 1.2rem;height: 0.9rem;position: relative;}
	.show-button>li{width: 1.2rem;height: 0.12rem;background-color: var(--show-button);position: absolute;transition: all 0.3s ease;}
	.show-button>li:first-child{top: 0;}
	.show-button>li:nth-child(2){top: 0.39rem;}
	.show-button>li:last-child{bottom: 0;}
	/* 头像 */
	.navbar-person{width: 96%;display: flex;flex-direction: row;display: none;border: 0.0625rem solid #5e5e5e;border-radius: 0.625rem;height: 4rem;margin: 1rem 0 1rem 0;align-items: center;padding:0 2%;background-color: rgba(255, 255, 255, 0.1)}
	.mobile-person-btn{display: block;color:#fff;display: flex;justify-content: space-between;align-items: center;width: 90%;}
	.mobile-person-menu{display: flex;flex-wrap: nowrap;align-items: center;font-size: 0.75rem;}
	.mobile-person-menu div{display: flex;align-items: center;margin-left: 0.8rem;}
	.mobile-person-menu svg{margin-left: 0.2rem;}
	.mobile-person-name p:last-child{font-size: 0.75rem;color: #a7a7a7;}
	.mobile-person-name{line-height: 1rem;margin-left: 0.5rem;}
	
	/* 主题 */
	.main-title{flex-wrap: wrap;justify-content: center;width: 90%;margin-bottom: 0;}
	.main-describe{width: 90%;}
	/* 内容 */
	.main-content{width: 90%;}
	.main-content-personal div{width: 20%;height: auto;margin-bottom:0rem;}
	
	/* 封面 */
	.cover-wrap{margin: 7rem auto 5rem auto;width: 90%;}
	.cover-addr{border-left: 0;text-align: left;}
	.cover-title{margin: 1rem 0 1rem 0;}
	.cover-wrap::before{height: 20%;right: 5%;bottom: 9.2rem;}
	.cover-wrap::after{height: 20%;right: 5%;bottom: 9.2rem;}
	.cover-contact{justify-content: center;}
	.cover-code-img{display: none;}
	.cover-title>p:first-child{font-size: 4rem;}
	.cover-title>p:first-child>span{margin-right: 0;display: flex;flex-wrap: wrap;}
	/* 二维码 */
	.mobile-code{width: 100%;height: 40vh;background-color: #fff;position: fixed;display: flex;bottom: 0rem;left: 0;justify-content: center;align-items: center;padding:0;border-radius: 1.25rem 1.25rem 0 0;flex-wrap: wrap;display: none;z-index: 9999;align-content: center;}
	.mobile-code div{display: flex;justify-content: center;flex-wrap: wrap;width: 100%;}
	.mobile-code div:last-child{margin-top: 1rem;}
	.mobile-code img{width: 25%;height: auto;}
	
	/* 简历 */
	.biographical-notes-wrap{width: 100%;height: 94vh;margin-left: 0;top:0vh;padding: 3vh 0% 3vh 0%;overflow: scroll;border-radius: 0 0 0 0;}
	/* 简历下载 */
	.PersonDownload-window{width: 100%;height: 40vh;background-color: #fff;position: fixed;display: flex;bottom: 0rem;left: 0;justify-content: center;align-items: center;padding:0;border-radius: 1.25rem 1.25rem 0 0;flex-wrap: wrap;display: none;z-index: 9999;align-content: center;}
	.PersonDownload-window div{width: 100%;display: flex;justify-content: center;}
	.PersonDownload-window div:last-child{margin-top: 1rem;}
		
	/* 返回 */
	.bio-back{width: 90%;height: auto;border-bottom: 0rem solid #cfcfcf;color: #252525;position: sticky;top:-2rem;padding: 1.6rem 5% 1rem 5%;background-color: #e7f0fe;z-index: 99;font-size: 1.125rem;font-weight: bold;display: block;}
	.bio-back div{display: flex;align-items: center;flex-wrap: nowrap;border-radius: 0.3125rem;width: -moz-fit-content;width: -webkit-fit-content;width: fit-content;}
	.bio-back div svg{margin:0 0.25rem 0 0rem;}
	.bio-back span{opacity: 0;}
	
	.hello{padding: 0 5%;width: 90%;}
	
	.bio-code-img{display: none;}
	.bio-cont-wrap{flex-wrap: wrap;margin-top: 2rem;padding: 0 5%;width: 90%;}
	.bio-cont-wrap-left{width: 100%;}
	.bio-cont-wrap-right{width: 100%;}
	.bio-cont-about-text{background-color: #fff;padding: 3.5%;border-radius: 0.3125rem;line-height: 1.35rem;}
	.bio-skill-wrap{flex-wrap: wrap;}
	.bio-skill-wrap>div:first-child{margin: 0 0 1rem 0;display: flex;flex-wrap: nowrap;}
	.bio-skill-wrap>div:first-child>p:first-child{margin-right: 0.5rem;}
	.bio-skill-wrap>div:first-child>p:last-child{color: #b9b9b9;}
	.bio-skill-wrap>div{width: 100%;}
	.bio-skill-experience{flex-wrap: wrap;margin-top: 2rem;width: 100%;padding-bottom: 0rem;}
	.bio-skill-experience>div:first-child{margin-bottom: 1rem;width: 100%;}
	.bio-skill-experience-cont-tab{flex-wrap: wrap;width: 93%;margin-bottom: 0.5rem;background-color: #fff;padding: 4% 3.5%;border-radius: 0.3125rem;}
	.bio-skill-experience-cont-text{margin: 0.5rem 0 0 0;width: 100%;}
	.bio-skill-experience-cont-text>p:first-child{color: #848484;font-size: 0.75rem;}
	.bio-skill-experience-cont-text>p:last-child{line-height: 1.25rem;margin:1rem 0 0 0;}
	.bio-cont-head{width: 4rem;height: 4rem;margin-top: 0;border-radius: 0.3125rem;display: none;}
	.bio-cont-about-line{width: 2rem;height:0.2rem;background-color: #a7a7a7;margin:1rem 0 0 0;display: none;}
	.bio-skill-experience>div:first-child{display: flex;flex-wrap: nowrap;}
	.bio-skill-experience>div:first-child>p:first-child{margin-right: 0.5rem;}
	.bio-skill-experience>div:first-child>p:last-child{color: #b9b9b9;}
	.bio-skill-cont{padding: 3.5%;background-color: #fff;width: 93%;margin-bottom: 0.5rem;border-radius: 0.3125rem;}
	/* 技能 */
/* 	.bio-skill-ps{width: 13rem;}
	.bio-skill-ai{width: 11rem;}
	.bio-skill-c4d{width: 12rem;}
	.bio-skill-web{width: 13rem;} */
	/* 时间 */
	.bio-skill-experience-cont-time{display: flex;flex-wrap: nowrap;font-size: 0.75rem;border-bottom: 0.0625rem solid #f1f1f1;width: 100%;padding: 0 0 0.6rem 0;}
	.bio-skill-experience-cont-time p{margin-right: 0.5rem;}
/* 	.bio-skill-experience-cont-time{position: relative;}
	.bio-skill-experience-cont-time::before{position: absolute;width: 0.5rem;height: 0.5rem;background-color: #000;content: '';top: 0.35rem;left: -0.92rem;} */
	/* 联系 */
	.bio-contact-title{display: flex;flex-wrap: nowrap;}
	.bio-contact-title>P:first-child{margin-right: 0.5rem;}
	.bio-contact-title>P:last-child{color: #b9b9b9;}
	
	/* 底下 */
	.bio-footer{width:90%;margin: auto;}
	.bio-footer-tips{margin-bottom: 6rem;}
	
	/* 侧边栏 */
	.side-wrap{bottom: 3vh;display: flex;justify-content: center;flex-wrap: wrap;align-content: center;}
	.side-wrap ul{display: none;}
	.side-wrap div{background-color: rgba(0, 0, 0, 0.5);border: 0.0625rem solid #fff;margin: 0.5rem 0;border-radius: 0.5rem;width: 50%;}
	.side-up:active{transform: scale(0.8);background-color: rgba(0, 0, 0, 0.8)}
	.side-next:active{transform: scale(0.8) rotate(180deg);background-color: rgba(0, 0, 0, 0.8);}
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width:992px) and (max-width:1200px) {
	/* 简历 */
	.biographical-notes-wrap{width: 80%;margin-left: calc((100% - 80% - 2rem - 2rem) / 2);display: none;}
	.bio-cont-wrap{margin-top: 2rem;}
	
	/* 技能 */
	.bio-skill-wrap>div:first-child{width: 10%;}
	.bio-skill-wrap>div{width: 38%;}

	/* 经历 */
	.bio-skill-experience{margin-top: 2.5rem;}
	.bio-skill-experience>div:first-child{width: 20%;}
	.bio-skill-experience-cont-tab{flex-wrap: wrap;}
	.bio-skill-experience-cont-text{width: 100%;}
	.bio-skill-experience-cont-text>p:last-child{margin-top: 0.5rem;line-height: 1.25rem;}
	.bio-skill-experience-cont{display: flex;flex-wrap: wrap;width: 100%;}
	.bio-skill-experience-cont-time{display: flex;flex-wrap: nowrap;}
	.bio-skill-experience-cont-time>p:first-child{margin-right: 1rem;}
	.bio-skill-cont>div:first-child{width: 10rem;}
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) and (max-width:1850px) {
	
}